version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env.prod
    volumes:
      - lunaris_storage:/var/www/storage
    networks:
      - proxy-network
      - database-network
    depends_on:
      - mysql

volumes:
  lunaris_storage:

networks:
  proxy-network:
    external: true
  database-network:
    driver: bridge
